body{
    background-color: #fbfbfb;
}

* {
    padding: 0;
    margin: 0;
}

#contianer {
    width: 80%;
    margin: auto;
}

#content {
    display: flex;
}
#content #recent_links {
    flex-grow: 2;
}


#content #most_viewed {
    flex-grow: 1;
    flex-basis: 600px;
    /* background-color: blue; */
}

#content #recent_links article {
    display: flex;
}

article {
    margin: 0px 0px 20px 0px;
    padding: 10px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    background-color: white;
}

article div:nth-child(2) {
    padding: 0px 0px 0px 10px;
    position: relative;
}
article h3 {
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
}

article p {
    font-family: 'Source Sans Pro', sans-serif;
    color: gray;

}

article time {
    color:#399DF2;
    font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
    bottom: 0px;
    left: 10px;
}


header{
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
header > img{
    width: 120px;
}

header > input{
    padding: 6px !important;
    border: 1px solid #000;
    border-radius: 40px;
    max-height: 30px;
    background: #303030;
    align-self: center;
    color: #fbfbfb;
}

.title-highlight{
    color: #888888;
    padding: 10px 0;
}

article > div > img{
    height: 124px;
    width: 124px;
}

.module {
    height: 40px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: scroll;
}
#info{
    flex-grow: 2;
}
#voter{
    display: flex;
    flex-direction: column;
    align-self: center;
}